<div class="row footer small">
    &copy;2011-<%= DateTime.now.year %> Portable-Dyno<br>
    <%= PHONE %><br>
    <%= link_to 'Contact', contact_path %> : <%= link_to 'About', about_path %> : <%= link_to 'FAQ', faq_path %> : <%= link_to 'Gallery', gallery_path %>
</div>
<div class="row"></div>